.bg-green{
     background-color:#319664 !important;
}
.txt-green{
     color:#319664 !important;
}
.bg-green-2{
     background-color:#b1ddab !important;
}
.bg-blue{
     background-color:#59ABE3 !important;
}
.txt-blue{
     color:#59ABE3 !important;
}
.bg-gold{
     background-color:#F2C713 !important;
}
.txt-gold{
     color:#F2C713 !important;
}
